{% extends "layout.html" %}

{% block title %}
    Match History
{% endblock %}

{% block main %}
    <h1>Match History</h1>
    <p>Most recent 25 matches</p>
        <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="winner">Winner</th>
              <th scope="col">Loser</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
        {% for match in matchHistory %}
            <tr>
              <td >{{match["winnerName"]}}</td>
              <td>{{match["loserName"]}}</td>
              <td>{{match["date"]}}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
            <p></p>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                  <div class="card border-dark mb-3" style="max-width: 20rem;">
                  <div class="card-header">Tip</div>
                  <d  iv class="card-body text-dark">
                    <h5 class="card-title">Did you know?</h5>
                      <p class="card-text">{{tips}}</p>
                  </div>
                 </div>
                <div class="col">
                </div>
            </div>
        </div>
{% endblock %}
