{% extends "layout.html" %}

{% block title %}
    The Wrestling Wizard
{% endblock %}

{% block main %}
    <h1>My Wrestlers</h1>
    <p>{{message}}</p>
    {% if wrestlers %}
    <div class="table-responsive">
        <table id="results-table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Strength</th>
              <th scope="col">Speed</th>
              <th scope="col">Special Move</th>
              <th scope="col">Finishing Move</th>
              <th scope="col">Wins</th>
              <th scope="col">Losses</th>
              <th scope="col">Level</th>
              <th scope="col">Health</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
        {% for wrestler in wrestlers %}
            <tr>
              <td>{{wrestler["name"]}}</td>
              <td>{{wrestler["strength"]}}</td>
              <td>{{wrestler["speed"]}}</td>
              <td>{{wrestler["specialMove"]}}</td>
              <td>{{wrestler["finishingMove"]}}</td>
              <td>{{wrestler["wins"]}}</td>
              <td>{{wrestler["losses"]}}</td>
              <td>{{wrestler["level"]}}</td>
              <td>{{wrestler["health"]}}</td>
              <form action="/delete" method="post">
                <input type="hidden" name="entry_id" value="{{wrestler["id"]}}">
                <td><button id="deleteButton" onclick="areYouSure()" class="btn btn-danger" type="submit">Delete Wrestler</button></td>
               </form>
            </tr>
        {% endfor %}
          </tbody>
        </table>
        </div>
        {% endif %}
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
                  <div class="card border-dark mb-3" style="max-width: 20rem;">
                  <div class="card-header">Tip</div>
                  <d  iv class="card-body text-dark">
                    <h5 class="card-title">Did you know?</h5>
                      <p class="card-text">{{tips}}</p>
                  </div>
                 </div>
                <div class="col">
                </div>
              </div>
              <script>
                function areYouSure() {
                  return window.confirm("Are you sure you want to delete this wrestler??");
                }
              </script>
{% endblock %}


